ARC_RPC_URL=https://rpc.testnet.arc.network
DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_REGISTRY_ADDRESS=
NEXT_PUBLIC_OBLIGATION_BOOK_ADDRESS=
NEXT_PUBLIC_CLEARINGHOUSE_ADDRESS=
NEXT_PUBLIC_DEPLOYMENT_BLOCK=
